
*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;

}
.container {
    width: 100%;
    background-image: url(background.jpg);
    background-repeat: repeat-x;
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.box 
{
    width: 750px;
    height: 400px;
    background: #d0d3d4;
    justify-content: flex-end;
    -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    -moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
    box-shadow: 3px 2px 7px rgba(50, 50, 50, 0.77);
    border: #6C7A89;
    margin: 15px;
    border-radius: 5px;
    
}
@media only screen and (max-width: 768px){
    .box, img{
        width: 100%;
        
    }
}
h4{
    color: #6C7A89;
}
h5{

}

body 
{
    margin: 0px;
   
}
aside{
    align-items: top;
    display: inline-flex;
    gap: 0px;
}
dec{
    
    margin: 50px 50px 0px 50px;
    gap: 3px;
    width:270px;
   
}
img{
   
    margin: 10px 10px 10px 10px;
    justify-content: center;
    width: 360px;
    height: 370px;
    border-radius: 230px;
}
p{
    width: 100%;
    height: 100%;
    margin-right: 10px;

}
.botao1
{
    background-image: url("face.png");
    background-color: #d0d3d4;
    width: 60px; 
    height: 60px;
    border: none;
    cursor: pointer;
    transition: 0.3s;

}
.botao2
{
    background-image: url("insta.png");
    background-color: #d0d3d4;
    width: 60px; 
    height: 60px;
    border: none;
    transition: .5s;
    cursor: pointer;
    transition: 0.3s;

}
.botao3
{
    background-image: url("lkd.png");
    background-color: #d0d3d4;
    width: 60px; 
    height: 60px;
    border: none;
    cursor: pointer;
    transition: 0.3s;

}
.botao4
{
    background-image: url("tw.png");
    background-color:#d0d3d4;
    width: 60px; 
    height: 60px;
    border: none;
    cursor: pointer;
    transition: 0.3s;

}


@keyframes btn {
    0%{
        transform: rotate(0);
    }
    25%{
        transform: rotate(20deg);
    }
    50%{
        transform: rotate(0);
    }
    75%
    {
        transform: rotate(-20deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.botao1:hover{
    animation-name: btn;
    animation-delay: .2s;
    animation-duration: 0.1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}
.botao2:hover{
    animation-name: btn;
    animation-delay: .2s;
    animation-duration: 0.1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}
.botao3:hover{
    animation-name: btn;
    animation-delay: .2s;
    animation-duration: 0.1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}
.botao4:hover{
    animation-name: btn;
    animation-delay: .2s;
    animation-duration: 0.1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}
.intro{
    width: 100%;
}

.resumo{
    
    width: 80%;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background-color: #1b4f72 ;
    border-radius: 10px;
    display: flex;
    margin: 20px 10px 10px 10%;
    -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    -moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
    box-shadow: 2px 3px 3px rgba(50, 50, 50, 0.77);
}
.titlo
{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 10px;


}
.tx{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.ld{
    display: flex;
    flex-direction: grid;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 20px;
    border-color: #6C7A89;
}
.first-word{

    padding-bottom: 2px;
    border-bottom:solid 4px  #6C7A89;
}
.title-post{
    color: black;
    position: relative;
    padding-bottom: 5px;
    
  }
.red{
    width: 45%;
    background-color: #1b4f72 ;
    border-radius: 10px;
    display: flex;
    margin: 20px 10px 10px 10%;
    -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    -moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
    box-shadow: 2px 3px 3px rgba(50, 50, 50, 0.77);
}
@media only screen and (max-width: 768px)
{
    .red, .ld{
        display: grid;
        width: 90%;
    }
}
@media only screen and (max-width: 768px)
{
    .red, p{
        width: 95%;
        align-items: center;
        justify-content: center;
    }
}
.tss{
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.name{

    width: 230px;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items:flex-start;
    gap: 15px;
}
.botao5
{
    background-image: url("Eb.png");
    background-color: #ffffff;
    width: 60px; 
    height: 85px;
    border: none;
    cursor: pointer;
    transition: 0.3s;

}
.botao5:hover{
    animation-name: btn;
    animation-delay: .2s;
    animation-duration: 0.1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}
.botao6
{
    background-image: url("oc.png");
    background-color: #ffffff;
    width: 57px; 
    height: 60px;
    border: none;
    cursor: pointer;
    transition: 0.3s;

}
.botao6:hover{
    animation-name: btn;
    animation-delay: .2s;
    animation-duration: 0.1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}
.forma{
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    gap: 15px;
    
}
.basic{
    width: 30%;
    justify-content: center;
    align-items:  center;
    height: 290px;
    display:grid;
    background-color: #1b4f72;
    border-radius: 10px;
    -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    -moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
    box-shadow: 2px 3px 3px rgba(50, 50, 50, 0.77);
}
.medio{

    width: 30%;
    justify-content: center;
    align-items:  center;
    height: 290px;
    display:grid;
    background-color: #1b4f72;
    border-radius: 10px;
    -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    -moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
    box-shadow: 2px 3px 3px rgba(50, 50, 50, 0.77);
}
.sup{
    width: 30%;
    justify-content: center;
    align-items:  center;
    height: 290px;
    display:grid;
    background-color: #1b4f72;
    border-radius: 10px;
    -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    -moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
    box-shadow: 2px 3px 3px rgba(50, 50, 50, 0.77);
    
    
}
@media only screen and (max-width: 1260px)
{
    .forma{
        width: 100%;
       display: grid ;
       grid-template-rows: auto;
       grid-template-columns: repeat(2, 0.5fr);

       
    }
}
@media only screen and (max-width: 1260px)
{
    .medio, .sup, .basic{
        width: 80%;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-left: 50px;
        margin-top: 20px;
    }
    .sup{
        margin-left: 55%;
    }
}
@media only screen and (max-width: 1110px)
{
    .forma{
        width: 100%;
       display: grid ;
       grid-template-rows: auto;
       grid-template-columns: repeat(1, 0.5fr);
       margin-left: 0px;
       margin-right: 0px;

       
    }
}
@media only screen and (max-width: 1110px)
{
    .medio, .sup, .basic{
        width: 460px;
        justify-content: center;
        align-items: center;
        margin-left: 15px;
        
    }
}
.skill{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: grid;
}

.tt{

    justify-content: center;
    width: 80%;
    height: 80%;
    align-items:  center;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 10px;
    border-radius: 30px;
    margin-bottom: 30px;
}
.va{
    width: 60%;
    margin-top: 10px;
    margin:auto;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 10px;
    -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    -moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
    box-shadow: 2px 3px 3px rgba(50, 50, 50, 0.77);
    background: #d0d3d4;
    
}
@media only screen and (max-width: 1080px)
{
    .va{
        width: 50%;
        margin-top: 10px;
        display: grid;
        margin:auto;
        flex-direction: center;
        justify-content: center;
        align-items: center;
        gap: 1px;
        border-radius: 10px;
        -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
        -moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
        box-shadow: 2px 3px 3px rgba(50, 50, 50, 0.77);
        background: #d0d3d4;

    }
    .ç{
        margin-top: 30px;
        width: 300px;
        display: grid;
        justify-content:center;
        align-items:center;
        margin-left: 100px;
    
    }
    .c{
        
        margin-top: 30px;
        width: 200px;
        display: grid;
        justify-content:center;
        align-items:center;
        margin-left: 0px;
    }
    .b1{
        display: flex;
        flex-direction: center;
        justify-content: center;
        align-items: center;
        gap: 15px;
        margin-left: 300px;
    }
    .b2{
        margin-bottom: 30px;
        display: flex;
        flex-direction: center;
        justify-content: center;
        align-items: center;
        gap: 15px;
        margin-left: 350px;
    }
    
}
@media only screen and (max-width: 780px)
{
    .va{
        width: 50%;
        margin-top: 10px;
        margin:auto;
        display: grid;
        flex-direction: center;
        justify-content: center;
        align-items: center;
        gap: 1px;
        border-radius: 10px;
        -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
        -moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
        box-shadow: 2px 3px 3px rgba(50, 50, 50, 0.77);
        background: #d0d3d4;

    }
    .ç{
        margin-top: 30px;
        width: 300px;
        display: grid;
        justify-content:center;
        align-items:center;
        margin-left: 100px;
    
    }
    .c{
        
        margin-top: 30px;
        width: 200px;
        display: grid;
        justify-content:center;
        align-items:center;
        margin-left: 0px;
    }
    .b1{
        display: flex;
        flex-direction: center;
        justify-content: center;
        align-items: center;
        gap: 15px;
        margin-left: 300px;
    }
    .b2{
        margin-bottom: 30px;
        display: flex;
        flex-direction: center;
        justify-content: center;
        align-items: center;
        gap: 15px;
        margin-left: 350px;
    }
    
}

.ç{
    margin-top: 30px;
    width: 50%;
    display: grid;
    justify-content:center;
    align-items:center;
    margin-left: 50px;
}
.c{
    
    margin-top: 30px;
    width: 50%;
    display: grid;
    justify-content:center;
    align-items:center;
    margin-left: 30px;
}
.a{
    width: 50%;
    display: flex;
    flex-direction:initial;
    justify-content:flex-start;
    align-items:flex-start;
    margin-left: 30px;
    margin-top: 30px;

}
.ladin{
    display: flex;
    flex-direction: grid;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 20px;
    border-color: #6C7A89;
}
@media only screen and (max-width: 768px)
{
    .a{
        display: inline-block;
        flex-wrap: wrap;
    }
}



.b1{
    margin-bottom: 30px;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.b2{
    margin-bottom: 30px;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.botao7
{
    background-image: url("c.png");
    background-color: #d0d3d4;
    width: 57px; 
    height: 57px;
    border: none;
    cursor: pointer;
    transition: 0.3s;

}

.botao7:hover{
    animation-name: btn;
    animation-delay: .2s;
    animation-duration: 0.1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}
.botao8
{
    background-image: url("css.png");
    background-color: #d0d3d4;
    width: 57px; 
    height: 57px;
    border: none;
    cursor: pointer;
    transition: 0.3s;

}
.botao8:hover{
    animation-name: btn;
    animation-delay: .2s;
    animation-duration: 0.1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}
.botao9
{
    background-image: url("git.png");
    background-color: #d0d3d4;
    width: 57px; 
    height: 57px;
    border: none;
    cursor: pointer;
    transition: 0.3s;

}
.botao9:hover{
    animation-name: btn;
    animation-delay: .2s;
    animation-duration: 0.1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}
.botao10
{
    background-image: url("html.png");
    background-color: #d0d3d4;
    width: 57px; 
    height: 57px;
    border: none;
    cursor: pointer;
    transition: 0.3s;

}
.botao10:hover{
    animation-name: btn;
    animation-delay: .2s;
    animation-duration: 0.1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}
.botao11
{
    background-image: url("js.png");
    background-color: #d0d3d4;
    width: 57px; 
    height: 57px;
    border: none;
    cursor: pointer;
    transition: 0.3s;

}
.botao11:hover{
    animation-name: btn;
    animation-delay: .2s;
    animation-duration: 0.1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}
.botao12
{
    background-image: url("jv.png");
    background-color: #d0d3d4;
    width: 57px; 
    height: 57px;
    border: none;
    cursor: pointer;
    transition: 0.3s;

}
.botao12:hover{
    animation-name: btn;
    animation-delay: .2s;
    animation-duration: 0.1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}
.botao13
{
    background-image: url("ph.png");
    background-color: #d0d3d4;
    width: 57px; 
    height: 57px;
    border: none;
    cursor: pointer;
    transition: 0.3s;

}
.botao13:hover{
    animation-name: btn;
    animation-delay: .2s;
    animation-duration: 0.1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}
.botao14
{
    background-image: url("sv.png");
    background-color: #d0d3d4;
    width: 57px; 
    height: 57px;
    border: none;
    cursor: pointer;
    transition: 0.3s;

}
.botao14:hover{
    animation-name: btn;
    animation-delay: .2s;
    animation-duration: 0.1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}
.botao15
{
    background-image: url("vs.png");
    background-color: #d0d3d4;
    width: 57px; 
    height: 57px;
    border: none;
    cursor: pointer;
    transition: 0.3s;

}
.botao15:hover{
    animation-name: btn;
    animation-delay: .2s;
    animation-duration: 0.1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}
.botao16
{
    background-image: url("wp.png");
    background-color: #d0d3d4;
    width: 57px; 
    height: 57px;
    border: none;
    cursor: pointer;
    transition: 0.3s;

}
.botao16:hover{
    animation-name: btn;
    animation-delay: .2s;
    animation-duration: 0.1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}
.projetos{
    width: 90%;
    margin-top: 20px;
    margin-left: 5%;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    gap: 15px;
    
}
@media only screen and (max-width: 1150px)
{
    .projetos{
        width: 90%;
        margin-top: 20px;
        margin-left: 25%;
        display: grid;
        flex-direction: center;
        justify-content: center;
        align-items: center;
        gap: 15px;
        
    }
}
@media only screen and (max-width: 780px)
{
    .projetos{
        width: 90%;
        margin-top: 20px;
        margin-left: 25%;
        display: grid;
        flex-direction: center;
        justify-content: center;
        align-items: center;
        gap: 15px;
        
    }
}
.soft{
    background-color: #1b4f72;
    width: 50%;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    -moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
    box-shadow: 2px 3px 3px rgba(50, 50, 50, 0.77);
}
.scroll{
    overflow-y: scroll;
    height: 300px;
    background-color: #ffffff;

}
.soft{
    background-color: #1b4f72;
    width: 50%;
    display: grid;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    -moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
    box-shadow: 2px 3px 3px rgba(50, 50, 50, 0.77);
}
.hard{
    background-color: #1b4f72;
    width: 50%;
    display: grid;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    -moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
    box-shadow: 2px 3px 3px rgba(50, 50, 50, 0.77);
}
.dentro{
    display: grid;
    border-radius: 10px;
    background-color: #1b4f72;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    width: 99%;

}
.proj{
    margin-top: 10px;
    margin-bottom: -12px;
    display: grid;
    width: 100%;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    background-color: #6C7A89;
    gap: 1px;
    
}
.botao17
{
    background-image: url("ardu.png");
    background-color: #d0d3d4;
    width: 58px; 
    height: 60px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
    margin-left: 20px;

}

.mmm{
    margin-top: 10px;
    margin-left: auto;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.before
{
    align-items: flex-end;
    justify-content: flex-end;
    display: flex;
    gap: 5px;
}
.git{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: 5px;
    width: 23px;
    height: 22px;
    border: none;
    cursor: pointer;
    background-image: url("gitMin.png");
    border-color: #1b4f72;
    border-radius: 20px;
    -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    -moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
    box-shadow: 2px 3px 3px rgba(50, 50, 50, 0.77);

}

.saiba{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: floralwhite;
    margin-right: 20px;
    width: 25px;
    height: 22px;
    border: none;
    cursor: pointer;
    background-color:#1b4f72;
    background-image: url("mais.png");
    border-color: #1b4f72;
    border-radius: 20px;
    -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    -moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
    box-shadow: 2px 3px 3px rgba(50, 50, 50, 0.77);
}

footer{
    background-color: #1b4f72;
    align-items: center;
    margin-top: 5px;
    justify-content: center;
    display: grid;
    margin-top: 100px;


}
.fut{
    align-items: center;
    justify-content: center;
    display: grid;
    width: 400px;
    height: 50px;
    margin-top: -20px;
    margin-bottom: 20px;
    background-color:#1b4f72;
    border-radius: 20px;
    border-bottom-width: 50px;
    border-color: black;
}